$week-days: ("mon":0, "tue":1, "wed":2, "thu":3, "fri":4, "sat":5, "sun":6);
$days-in-month: 28, 29, 30, 31;
$width-cell: 100px;

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 707px;

  @for $i from 1 through 31 {
    & div:nth-child(#{$i})::after {
      content: "#{$i}";
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      width: #{$width-cell};
      height: 100px;
      margin-right: 1px;
      margin-bottom: 1px;
      border: 1px solid black;
      background-color: #eee;
    }
  }

  @each $name, $num in $week-days {
    &-#{$name} div:first-child {
      margin-left: #{(($width-cell + 1) * $num)}px;
    }
  }
  
  @each $days in $days-in-month {
    @for $day from $days through 31 {
      &-#{$days} div:nth-child(n + #{$day + 1})::after {
        display: none;
      }
    }
  }
  
  & div:nth-child(7n + 1)::after {
    margin-right: 0;
  }

  & div:hover::after {
    position: relative;
    bottom: 20px;
    background-color: pink;
    transition: background-color 0.5s, transform 0.5s;
  }
}
